<div class="intro">
    <div class="intro__image-container">
        <img class="intro__image" src="/assets/intro-cat.jpg" alt="Introduction cat"/>
        <span class="intro__image-text">Max Tornow has personally trained 2000+ clients all across the globe how to start coaching & consulting, get their first customers and attain personal independence.</span>
    </div>
    <div class="intro__description">
        <div class="intro__title-head">
            <span class="intro__title">Here's What You'll Learn In This Free Video Training:</span>
        </div>
        <div class="intro__content">
            <div class="intro__content-container-icon">
                <img src="/assets/list.svg" alt="List icon"/>
            </div>
            <span class="intro__content-text">The 3 pillars that literally ALL successful coaching, consulting, or service providing businesses are built around</span>
        </div>
        <div class="intro__content">
            <div class="intro__content-container-icon">
                <img class="intro__content-icon" src="/assets/clock.svg" alt="Clock icon"/>
            </div>
            <span class="intro__content-text">The #1 reason why you’re stuck working a lot for very little money in return, even though you deliver insane results</span>
        </div>
        <div class="intro__content">
            <div class="intro__content-container-icon">
                <img src="/assets/package.svg" alt="Package icon"/>
            </div>
            <span class="intro__content-text">Why and how you should transition into charging premium prices and what unfair advantages over your competition it gets you</span>
        </div>
        <div class="intro__content">
            <div class="intro__content-container-icon">
                <img class="intro__content-icon" src="/assets/people.svg" alt="People icon"/>
            </div>
            <span class="intro__content-text">​How to get clients that happily pay you $2k-$5k a month</span>
        </div>
        <div class="intro__content">
            <div class="intro__content-container-icon">
                <img src="/assets/document.svg" alt="Document icon"/>
            </div>
            <span class="intro__content-text">How you can become a recognized expert – without needing a big "social media brand" or huge advertising budgets</span>
        </div>
        <button class="button">
            <h2 class="button__top-text">Watch The Training</h2>
            <span class="button__bottom-text">Discover How You Can Make "Digital Freedom" A Reality</span>
        </button>
    </div>
</div>
