<div class="first-container">
    <div class="section__header">
        <h1 class="section__header-top">What Makes Our Clients So Successful?</h1>
        <h2 class="section__header-bottom">There really is no "secret" to it – my team and I are simply hyper-attentive to details and solely focussed on results. Here's what 93% of our clients say were the most instrumental ingredients to their success:</h2>
        <div class="section__header-separator"></div>
    </div>
    <div class="first-container__line">
        <div class="first-container__box">
            <img class="first-container__body-icon" src="/assets/map.svg" alt="Map"/>
            <h2 class="first-container__body-title-text head-text1">Proper System & Guidance</h2>
            <span class="first-container__body-text">It all starts with the foundation – faulty system, faulty results. Starting with a proven game plan that thousands of our customers have already successfully executed and gotten results with makes a big difference. Especially when you're just starting out in the high-ticket world.</span>
        </div>
        <div class="first-container__box">
            <img class="first-container__body-icon" src="/assets/bolt.svg" alt="Bolt"/>
            <h2 class="first-container__body-title-text head-text1">Speed of Implementation</h2>
            <span class="first-container__body-text">Instead of wasting weeks for the "perfect time to start", we make sure our clients take action. Gaining momentum takes energy. Knowing that there's an early "phase of inertia" when you start something new, the key is to get the ball rolling fast, and keep the momentum.</span>
        </div>
        <div class="first-container__box">
            <img class="first-container__body-icon" src="/assets/book.svg" alt="Book"/>
            <h2 class="first-container__body-title-text head-text1">Developing Skills For A Lifetime</h2>
            <span class="first-container__body-text">People who are able to achieve long-lasting changes in their lives, do so because they have developed a tangible skill set above mere step-by-step-instructions that stop at any given stage. They can self-reliantly adjust to immediate changes in their environments.</span>
        </div>
    </div>
    <div class="first-container__line">
        <div class="first-container__box">
            <img class="first-container__body-icon" src="/assets/win.svg" alt="Win"/>
            <h2 class="first-container__body-title-text head-text1">Winner Community</h2>
            <span class="first-container__body-text">You're going to be influenced by the people you spend the most time with. This is why it's much easier to make leaps and bounds when there's an active community of fellow successful business owners. Meeting like-minded people and getting help from a smart coaching team is another plus.</span>
        </div>
        <div class="first-container__box">
            <img class="first-container__body-icon" src="/assets/brain.svg" alt="brain"/>
            <h2 class="first-container__body-title-text head-text1">Mental Shifts & Breakthroughs</h2>
            <span class="first-container__body-text">We often deal with old, archaic thought patterns and limiting beliefs in ourselves that don't suit us as we're growing. Part of our job is to also deliver mental transformation and get you to the next level. Within a short amount of time, our students learn to think differently about the world, their business, and themselves.</span>
        </div>
        <div class="first-container__box">
            <img class="first-container__body-icon" src="/assets/char.svg" alt="Char"/>
            <h2 class="first-container__body-title-text head-text1">Continuous Improvement</h2>
            <span class="first-container__body-text">We don't leave things "as is". The status quo is to be challenged. New methods are to be tested and observed in the real world before we present it to our clients. New findings and better procedures are quickly implemented in order to be most up-to-date, so all of our trainings are continuously improved. </span>
        </div>
    </div>
    <button class="button">
        <h2 class="button__top-text">Watch Free Training</h2>
        <span class="button__bottom-text">Keep In Mind: There's A Limited Amount Of People We Can Work With.</span>
    </button>
</div>