<div class="third-container">
    <div class="section__header">
        <h1 class="section__header-top">What Our Clients Say About Our Work</h1>
        <h2 class="section__header-bottom">Here are some examples of feedback our clients send me, either in video format, straight from our customer community or in our weekly Live-Q&A-Calls.</h2>
        <div class="section__header-separator"></div>
    </div>
    <h2 class="third-container__remarks-header">Just a few remarks about these case studies:</h2>
    <div class="third-container__remarks">
        <div class="third-container__remarks-box">
            <p class="third-container__remarks-text"><strong>1.)</strong> These are all real, genuine clients of ours who share their honest opinion. Nobody has been compensated in any shape or form to record or appear in these videos.</p>
        </div>
        <div class="third-container__remarks-box">
            <p class="third-container__remarks-text"><strong>2.)</strong> I cannot guarantee you any results whatsoever. All of these people worked hard and smart for their success and truly deserve their results.</p>
        </div>
        <div class="third-container__remarks-box">
            <p class="third-container__remarks-text"><strong>3.)</strong> These results are generally only possible if you speak to me or one of my coaches 1:1 in a free consultation session and get to know our strategy.</p>
        </div>
    </div>
    <div class="third-container__videos-box">
        <div class="third-container__videos-box-row">
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“34k EUR within 4 weeks”</h2>
                <p class="third-container__videos-text">David has no following on social media and has simply turned his skill for socializing and relationships into a high ticket online coaching business. By focussing on a small but high-buying-power audience he can work with a few, but highly committed clients</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“34k EUR within 4 weeks”</h2>
                <p class="third-container__videos-text">David has no following on social media and has simply turned his skill for socializing and relationships into a high ticket online coaching business. By focussing on a small but high-buying-power audience he can work with a few, but highly committed clients</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="third-container__videos-box-row">
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“34k EUR within 4 weeks”</h2>
                <p class="third-container__videos-text">David has no following on social media and has simply turned his skill for socializing and relationships into a high ticket online coaching business. By focussing on a small but high-buying-power audience he can work with a few, but highly committed clients</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“34k EUR within 4 weeks”</h2>
                <p class="third-container__videos-text">David has no following on social media and has simply turned his skill for socializing and relationships into a high ticket online coaching business. By focussing on a small but high-buying-power audience he can work with a few, but highly committed clients</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="third-container__videos-box-row">
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“34k EUR within 4 weeks”</h2>
                <p class="third-container__videos-text">David has no following on social media and has simply turned his skill for socializing and relationships into a high ticket online coaching business. By focussing on a small but high-buying-power audience he can work with a few, but highly committed clients</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“34k EUR within 4 weeks”</h2>
                <p class="third-container__videos-text">David has no following on social media and has simply turned his skill for socializing and relationships into a high ticket online coaching business. By focussing on a small but high-buying-power audience he can work with a few, but highly committed clients</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>