<div class="third-container">
    <div class="section__header">
        <h1 class="section__header-top">What Our Clients Say About Our Work</h1>
        <h2 class="section__header-bottom">Here are some examples of feedback our clients send me, either in video format, straight from our customer community or in our weekly Live-Q&A-Calls.</h2>
        <div class="section__header-separator"></div>
    </div>
    <h2 class="third-container__remarks-header">Just a few remarks about these case studies:</h2>
    <div class="third-container__remarks">
        <div class="third-container__remarks-box">
            <p class="third-container__remarks-text"><strong>1.)</strong> These are all real, genuine clients of ours who share their honest opinion. Nobody has been compensated in any shape or form to record or appear in these videos.</p>
        </div>
        <div class="third-container__remarks-box">
            <p class="third-container__remarks-text"><strong>2.)</strong> I cannot guarantee you any results whatsoever. All of these people worked hard and smart for their success and truly deserve their results.</p>
        </div>
        <div class="third-container__remarks-box">
            <p class="third-container__remarks-text"><strong>3.)</strong> These results are generally only possible if you speak to me or one of my coaches 1:1 in a free consultation session and get to know our strategy.</p>
        </div>
    </div>
    <div class="third-container__videos-box">
        <div class="third-container__videos-box-column">
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“34k EUR within 4 weeks”</h2>
                <p class="third-container__videos-text">David has no following on social media and has simply turned his skill for socializing and relationships into a high ticket online coaching business. By focussing on a small but high-buying-power audience he can work with a few, but highly committed clients</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“Really grateful for all the help!”</h2>
                <p class="third-container__videos-text">Jozef has made over 14k EUR with our help with his fitness & health offer. As you can see, especially in the fitness niche, the typical “sell a cheap $200 info product to thousands of low-end clients” is just as outdated as the “get paid per hour” strategy. </p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“60k in 6 months as a “side hustle” </h2>
                <p class="third-container__videos-text">“I could have never imagined getting to this point so quickly” says our client Davide who is providing marketing services as a B2B offer making over $10k each month by following the exact steps we are teaching.</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="third-container__videos-box-column">
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“First $10k in closes!"</h2>
                <p class="third-container__videos-text">From employed programmer to business owner: Florian is teaching beginner programming online and is making 5 figures a month consistently. That allows him to have more time for his family, while also getting paid much higher than most employees in his industry.</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“$70k with online language coaching”</h2>
                <p class="third-container__videos-text">Ivan was able to transform his skill in speaking German as a second language into a highly profitable online coaching business with no certificate or formal education in that field. Instead of teaching many low-paying clients, he’s teaching a few high-ticket clients.</p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="third-container__videos-box-single">
                <h2 class="third-container__videos-header">“5 figures is the new normal”</h2>
                <p class="third-container__videos-text">Nathan would have originally been happy with making 3k a month, until we showed him what’s possible with proper positioning and lead generation. He closed over 40k EUR within 3 months for his online fitness coaching. </p>
                <iframe class="third-container__videos" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>