<div class="first-container">
    <div class="section__header">
        <div class="section__header-icon">
            <img src="/assets/key.svg" alt="Your key"/>
            <h1 class="section__header-top">The Key To Revving Up Your Business Engine...</h1>
        </div>
        <h2 class="section__header-bottom">Once you've attained this, you may never want to go back. It's the combination of these three vital factors forming the ultimate "bliss zone" ...</h2>
        <div class="section__header-separator"></div>
    </div>
    <div class="first-container__body">
        <div class="first-container__body-image-container">
            <img class="first-container__body-image" src="/assets/first-cat.jpg" alt="First cat"/>
            <span class="first-container__body-image-text">Remember: You need to "unlock" all three together – otherwise you're just stuck in the outer zone...</span>
        </div>
        <div class="first-container__body-text-container">
            <h2 class="first-container__body-title-text head-text1">#1: Expert Positioning And Its Benefits - highly underrated</h2>
            <span class="first-container__body-text">Right now you might be wasting valuable time chasing down low-quality clients and negotiating deals you’ll end up regretting later. Clients want you to be available 24/7, but are only willing to pay you peanuts. What you don’t know: There’s a whole different world out there. A world where clients listen to industry experts and pay whatever it costs. They’re grateful and a joy to work with. It’s an upward spiral, once you transition into expert positioning, because the more money you earn the better service you can provide.</span>
            <h2 class="first-container__body-title-text head-text2">#2: A Predictable System For Getting Leads And Making Sales</h2>
            <span class="first-container__body-text">Almost every consultant, service provider or coach that I get to know has the same problem. They’re depending on referrals. Yes, making sure your clients are happy so they refer you is good, but you shouldn't rely on it. If you do, you’re at the mercy of your clients and you’re one step away from going bankrupt. Without a consistent and predictable influx of new clients you don’t have a real business, but most importantly: your income is based on luck, fluctuates heavily and you can’t scale.</span>
            <h2 class="first-container__body-title-text head-text3">#3: Premium Pricing - not only higher income for you, but also better service for your clients! </h2>
            <span class="first-container__body-text">Without being in a position that allows you to charge premium prices you’re very likely to work way more and way harder than you actually have to.  But here’s the kicker: What about your clients? To tell the truth, you're doing them a disservice by charging lower prices! Think about it, lower prices means more work per client. That means less attention for each client and less time for you to think about improving your services. In short, your client work becomes less profitable AND less fun.</span>
            <span class="first-container__body-text">What if there was a way that allowed you to charge $2k+ per client? With this type of pay you can happily go the extra mile for every single one of your clients, maybe hire an assistant to provide additional support and have all the time in the world to get a better understanding of what your clients really need.</span>
        </div>
    </div>
</div>
